<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueATM</title>
  </head>
  <body>
    <div id="app">
      <h1>入力画面</h1>
      <section>
        <input type="number" v-model="nyuryokugaku" />
        <div>入力額:{{ nyuryokugaku }}円</div>
        <button v-on:click="nyukin">入金</button>
        <button v-on:click="shukkin" v-bind:disabled="enableClass">出金</button>
      </section>
      <section>
        <h1>口座残高</h1>
        <div>残高：{{ zandaka }}円</div>
      </section>
      <siction>
        <h1>取引記録</h1>
        <div v-for="torihiki in torihiki">
          <p>日付：{{ torihiki.date }}</p>
          <p>操作：{{ torihiki.type }}</p>
          <p>金額：{{ torihiki.money }}</p>
        </div>
      </siction>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
  </body>
</html>
